<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a routerLink="" class="nav-link">Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item dropdown mega-dropdown ">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Arts
        </a>
        <div class="dropdown-menu mega-menu v-2 row z-depth-1 " aria-labelledby="navbarDropdown">
          <!--
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
          -->
          <div class="row mx-md-4 mx-1">
            <div class="col-md-6 col-xl-3 sub-menu my-xl-5 mt-5 mb-4">
                <h6 class="sub-title text-uppercase font-weight-bold white-text">Quilling Arts</h6>
                <div class="news-single">
                  <div class="row">
                      <div class="col-md-4">
                          <!--Image-->
                          <div class="view overlay hm-white-slight z-depth-1">
                              <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(43).jpg" class="img-fluid" alt="Minor sample post image">
                              <div class="mask flex-center">
                                  <p></p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-8">
                          <a class="news-title smaller mb-1" href="">Duis aute irure dolor reprehenderit in voluptate.</a>
                          <p class="font-small text-uppercase text-muted">July 14, 2017</p>
                      </div>
                  </div>
              </div>
              <div class="news-single">
                  <div class="row">
                      <div class="col-md-4">
                          <!--Image-->
                          <div class="view overlay hm-white-slight z-depth-1">
                              <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(44).jpg" class="img-fluid" alt="Minor sample post image">
                              <div class="mask flex-center">
                                  <p></p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-8">
                          <a class="news-title smaller mb-1" href="">Tempore autem reiciendis iste nam dicta.</a>
                          <p class="font-small text-uppercase text-muted">July 14, 2017</p>
                      </div>
                  </div>
              </div>
              <div class="news-single">
                  <div class="row">
                      <div class="col-md-4">
                          <!--Image-->
                          <div class="view overlay hm-white-slight z-depth-1">
                              <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(41).jpg" class="img-fluid" alt="Minor sample post image">
                              <div class="mask flex-center">
                                  <p></p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-8">
                          <a class="news-title smaller mb-1" href="">Eligendi dicta sunt amet, totam ea recusandae.</a>
                          <p class="font-small text-uppercase text-muted">July 14, 2017</p>
                      </div>
                  </div>
              </div>
            </div>
            <div class="col-md-6 col-xl-3 sub-menu my-xl-5 mt-md-5 mt-4 mb-4">
                <h6 class="sub-title text-uppercase font-weight-bold white-text">Photogphy</h6>
                <div class="news-single">
                  <div class="row">
                      <div class="col-md-4">
                          <!--Image-->
                          <div class="view overlay hm-white-slight z-depth-1">
                              <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(43).jpg" class="img-fluid" alt="Minor sample post image">
                              <div class="mask flex-center">
                                  <p></p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-8">
                          <a class="news-title smaller mb-1" href="">Duis aute irure dolor reprehenderit in voluptate.</a>
                          <p class="font-small text-uppercase text-muted">July 14, 2017</p>
                      </div>
                  </div>
              </div>
              <div class="news-single">
                  <div class="row">
                      <div class="col-md-4">
                          <!--Image-->
                          <div class="view overlay hm-white-slight z-depth-1">
                              <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(44).jpg" class="img-fluid" alt="Minor sample post image">
                              <div class="mask flex-center">
                                  <p></p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-8">
                          <a class="news-title smaller mb-1" href="">Tempore autem reiciendis iste nam dicta.</a>
                          <p class="font-small text-uppercase text-muted">July 14, 2017</p>
                      </div>
                  </div>
              </div>
              <div class="news-single">
                  <div class="row">
                      <div class="col-md-4">
                          <!--Image-->
                          <div class="view overlay hm-white-slight z-depth-1">
                              <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(41).jpg" class="img-fluid" alt="Minor sample post image">
                              <div class="mask flex-center">
                                  <p></p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-8">
                          <a class="news-title smaller mb-1" href="">Eligendi dicta sunt amet, totam ea recusandae.</a>
                          <p class="font-small text-uppercase text-muted">July 14, 2017</p>
                      </div>
                  </div>
              </div>
            </div>
            <div class="col-md-6 col-xl-3 sub-menu my-xl-5 mt-4 mb-4">
                <h6 class="sub-title text-uppercase font-weight-bold white-text">Paintings</h6>
                <div class="news-single">
                  <div class="row">
                      <div class="col-md-4">
                          <!--Image-->
                          <div class="view overlay hm-white-slight z-depth-1">
                              <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(43).jpg" class="img-fluid" alt="Minor sample post image">
                              <div class="mask flex-center">
                                  <p></p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-8">
                          <a class="news-title smaller mb-1" href="">Duis aute irure dolor reprehenderit in voluptate.</a>
                          <p class="font-small text-uppercase text-muted">July 14, 2017</p>
                      </div>
                  </div>
              </div>
              <div class="news-single">
                  <div class="row">
                      <div class="col-md-4">
                          <!--Image-->
                          <div class="view overlay hm-white-slight z-depth-1">
                              <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(44).jpg" class="img-fluid" alt="Minor sample post image">
                              <div class="mask flex-center">
                                  <p></p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-8">
                          <a class="news-title smaller mb-1" href="">Tempore autem reiciendis iste nam dicta.</a>
                          <p class="font-small text-uppercase text-muted">July 14, 2017</p>
                      </div>
                  </div>
              </div>
              <div class="news-single">
                  <div class="row">
                      <div class="col-md-4">
                          <!--Image-->
                          <div class="view overlay hm-white-slight z-depth-1">
                              <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(41).jpg" class="img-fluid" alt="Minor sample post image">
                              <div class="mask flex-center">
                                  <p></p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-8">
                          <a class="news-title smaller mb-1" href="">Eligendi dicta sunt amet, totam ea recusandae.</a>
                          <p class="font-small text-uppercase text-muted">July 14, 2017</p>
                      </div>
                  </div>
              </div>
            </div>
        </div>
        </div>
      </li>
      <li class="nav-item dropdown mega-dropdown ">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Handmades
        </a>
        <div class="dropdown-menu mega-menu v-2 row z-depth-1 " aria-labelledby="navbarDropdown">
          <!--
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
          -->
          <div class="row mx-md-4 mx-1">
            <div class="col-md-6 col-xl-3 sub-menu my-xl-5 mt-5 mb-4">
                <h6 class="sub-title text-uppercase font-weight-bold white-text">Necklaces</h6>
                <div class="news-single">
                  <div class="row">
                      <div class="col-md-4">
                          <!--Image-->
                          <div class="view overlay hm-white-slight z-depth-1">
                              <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(43).jpg" class="img-fluid" alt="Minor sample post image">
                              <div class="mask flex-center">
                                  <p></p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-8">
                          <a class="news-title smaller mb-1" href="">Duis aute irure dolor reprehenderit in voluptate.</a>
                          <p class="font-small text-uppercase text-muted">July 14, 2017</p>
                      </div>
                  </div>
              </div>
              <div class="news-single">
                  <div class="row">
                      <div class="col-md-4">
                          <!--Image-->
                          <div class="view overlay hm-white-slight z-depth-1">
                              <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(44).jpg" class="img-fluid" alt="Minor sample post image">
                              <div class="mask flex-center">
                                  <p></p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-8">
                          <a class="news-title smaller mb-1" href="">Tempore autem reiciendis iste nam dicta.</a>
                          <p class="font-small text-uppercase text-muted">July 14, 2017</p>
                      </div>
                  </div>
              </div>
              <div class="news-single">
                  <div class="row">
                      <div class="col-md-4">
                          <!--Image-->
                          <div class="view overlay hm-white-slight z-depth-1">
                              <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(41).jpg" class="img-fluid" alt="Minor sample post image">
                              <div class="mask flex-center">
                                  <p></p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-8">
                          <a class="news-title smaller mb-1" href="">Eligendi dicta sunt amet, totam ea recusandae.</a>
                          <p class="font-small text-uppercase text-muted">July 14, 2017</p>
                      </div>
                  </div>
              </div>
            </div>
            <div class="col-md-6 col-xl-3 sub-menu my-xl-5 mt-md-5 mt-4 mb-4">
                <h6 class="sub-title text-uppercase font-weight-bold white-text">Bracelets</h6>
                <div class="news-single">
                  <div class="row">
                      <div class="col-md-4">
                          <!--Image-->
                          <div class="view overlay hm-white-slight z-depth-1">
                              <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(43).jpg" class="img-fluid" alt="Minor sample post image">
                              <div class="mask flex-center">
                                  <p></p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-8">
                          <a class="news-title smaller mb-1" href="">Duis aute irure dolor reprehenderit in voluptate.</a>
                          <p class="font-small text-uppercase text-muted">July 14, 2017</p>
                      </div>
                  </div>
              </div>
              <div class="news-single">
                  <div class="row">
                      <div class="col-md-4">
                          <!--Image-->
                          <div class="view overlay hm-white-slight z-depth-1">
                              <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(44).jpg" class="img-fluid" alt="Minor sample post image">
                              <div class="mask flex-center">
                                  <p></p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-8">
                          <a class="news-title smaller mb-1" href="">Tempore autem reiciendis iste nam dicta.</a>
                          <p class="font-small text-uppercase text-muted">July 14, 2017</p>
                      </div>
                  </div>
              </div>
              <div class="news-single">
                  <div class="row">
                      <div class="col-md-4">
                          <!--Image-->
                          <div class="view overlay hm-white-slight z-depth-1">
                              <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(41).jpg" class="img-fluid" alt="Minor sample post image">
                              <div class="mask flex-center">
                                  <p></p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-8">
                          <a class="news-title smaller mb-1" href="">Eligendi dicta sunt amet, totam ea recusandae.</a>
                          <p class="font-small text-uppercase text-muted">July 14, 2017</p>
                      </div>
                  </div>
              </div>
            </div>
            <div class="col-md-6 col-xl-3 sub-menu my-xl-5 mt-4 mb-4">
                <h6 class="sub-title text-uppercase font-weight-bold white-text">Woodworks</h6>
                <div class="news-single">
                  <div class="row">
                      <div class="col-md-4">
                          <!--Image-->
                          <div class="view overlay hm-white-slight z-depth-1">
                              <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(43).jpg" class="img-fluid" alt="Minor sample post image">
                              <div class="mask flex-center">
                                  <p></p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-8">
                          <a class="news-title smaller mb-1" href="">Duis aute irure dolor reprehenderit in voluptate.</a>
                          <p class="font-small text-uppercase text-muted">July 14, 2017</p>
                      </div>
                  </div>
              </div>
              <div class="news-single">
                  <div class="row">
                      <div class="col-md-4">
                          <!--Image-->
                          <div class="view overlay hm-white-slight z-depth-1">
                              <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(44).jpg" class="img-fluid" alt="Minor sample post image">
                              <div class="mask flex-center">
                                  <p></p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-8">
                          <a class="news-title smaller mb-1" href="">Tempore autem reiciendis iste nam dicta.</a>
                          <p class="font-small text-uppercase text-muted">July 14, 2017</p>
                      </div>
                  </div>
              </div>
              <div class="news-single">
                  <div class="row">
                      <div class="col-md-4">
                          <!--Image-->
                          <div class="view overlay hm-white-slight z-depth-1">
                              <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(41).jpg" class="img-fluid" alt="Minor sample post image">
                              <div class="mask flex-center">
                                  <p></p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-8">
                          <a class="news-title smaller mb-1" href="">Eligendi dicta sunt amet, totam ea recusandae.</a>
                          <p class="font-small text-uppercase text-muted">July 14, 2017</p>
                      </div>
                  </div>
              </div>
            </div>
        </div>
        </div>
      </li>
      <li class="nav-item">
          <a routerLink="services" class="nav-link">Services</a>
      </li>
      
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<ul>
  <li><a routerLink="">Home</a></li>
  <li><a routerLink="product">Product</a></li>
  <li><a routerLink="services">Services</a></li>
</ul>

<p>This is where router will be framed</p>
<router-outlet></router-outlet>
 